<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
        </whitelist>
            <logging>
            <log type="coverage-html" target="test/coverage"/>
            <log type="coverage-clover" target="test/logs/clover.xml"/>
            <log type="coverage-crap4j" target="test/logs/crap4j.xml"/>
        </logging>
    </filter>

</phpunit>
